---
# TODO: some check could be added:
# preformance-*
# cert-* (?)
# readability-* (?)
#
Checks: 'clang-diagnostic-*,clang-analyzer-*,-*,clang-diagnostic-*,bugprone-*,clang-analyzer-*,-*,clang-analyzer-*,-clang-analyzer.cplusplus,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-clang-analyzer-valist.Uninitialized'
WarningsAsErrors: 'clang-diagnostic-*,clang-analyzer-*,-*,clang-diagnostic-*,bugprone-*,clang-analyzer-*,-*,clang-analyzer-*,-clang-analyzer.cplusplus,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-clang-analyzer-valist.Uninitialized'
HeaderFilterRegex: './*.h'
FormatStyle: none
CheckOptions:
  cert-dcl16-c.NewSuffixes: 'L;LL;LU;LLU'
  cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField: '0'
  cert-str34-c.DiagnoseSignedUnsignedCharComparisons: '0'
  cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors: '1'
  cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: '1'
  google-readability-braces-around-statements.ShortStatementLines: '1'
  google-readability-function-size.StatementThreshold: '800'
  google-readability-namespace-comments.ShortNamespaceLines: '10'
  google-readability-namespace-comments.SpacesBeforeComments: '2'
  llvm-else-after-return.WarnOnConditionVariables: '0'
  llvm-else-after-return.WarnOnUnfixable: '0'
  llvm-qualified-auto.AddConstToQualified: '0'
  modernize-loop-convert.MaxCopySize: '16'
  modernize-loop-convert.MinConfidence: 'reasonable'
  modernize-loop-convert.NamingStyle: 'CamelCase'
  modernize-pass-by-value.IncludeStyle: 'llvm'
  modernize-replace-auto-ptr.IncludeStyle: 'llvm'
  modernize-use-nullptr.NullMacros: 'NULL'
...

