system.init.mode=appengine
bootloader.type=uboot
storage.device=LABEL=pvroot
storage.fstype=ext4
storage.opts=
wdt.enabled=0
log.capture.dmesg=0
log.level=4
log.server.outputs=filetree
storage.mntpoint=/var/pantavisor/storage
system.libdir=/usr/lib/pantavisor
system.etcdir=/etc
system.usrdir=/usr
system.rundir=/var/run/pantavisor/pv
system.mediadir=/var/run/pantavisor/media
system.confdir=/var/run/pantavisor/configs
dropbear.cache.dir=/var/pantavisor/storage/cache/dropbear
cache.usrmetadir=/var/pantavisor/storage/cache/usrmeta
cache.devmetadir=/var/pantavisor/storage/cache/devmeta
libthttp.certsdir=/etc/thttp/certs
disk.voldir=/volumes
disk.exportsdir=/exports
disk.writabledir=/var/run/pv/writable
log.dir=/var/pantavisor/storage/logs
control.remote=0
updater.goals.timeout=10
updater.commit.delay=5

PV_SYSTEM_INIT_MODE=appengine
PV_BOOTLOADER_TYPE=uboot
PV_WDT_ENABLED=0
PV_LOG_LEVEL=4
PV_LOG_SERVER_OUTPUTS=filetree
PV_SECUREBOOT_HANDLERS=0
PV_OEM_NAME=pv-oem-developer-001
