# MIMX8MN EVK board defconfig

# Copyright (c) 2024-2026 Pantacor Ltd.
# SPDX-License-Identifier: Apache-2.0

if BOARD_MIMX8MN_EVK

config BOARD
	default "mimx8mn_evk"

if !XIP
config FLASH_SIZE
	default 0
config FLASH_BASE_ADDRESS
	default 0
endif

endif # BOARD_MIMX8MN_EVK
