#
# Copyright (c) 2024-2026 Pantacor Ltd.
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_SOC_SERIES_IMX8MN_M7=y
CONFIG_SOC_MIMX8MN6=y
CONFIG_BOARD_MIMX8MN_EVK=y
CONFIG_CLOCK_CONTROL=y
CONFIG_SERIAL=n
CONFIG_CONSOLE=n
CONFIG_PRINTK=y
CONFIG_LOG=y
CONFIG_XIP=y
CONFIG_CODE_DDR=y
CONFIG_PINCTRL=y

# OpenAMP / RPMsg for remoteproc communication
CONFIG_IPM=y
CONFIG_IPM_IMX=y
CONFIG_OPENAMP_RSC_TABLE=y
CONFIG_OPENAMP_RSC_TABLE_NUM_RPMSG_BUFF=32
