name: 'Build Pantavisor BSP'

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      configs:
        required: true
        type: string

jobs:
  build-kas:
    runs-on: ["self-hosted"]
    container:
      image: ghcr.io/pantacor/kas/kas:next-v7
      volumes:
        - shared:/shared
      options: --user root

    steps:
      - name: checkout meta-pantavisor
        uses: actions/checkout@v2
        with:
          repository: pantavisor/meta-pantavisor

      - name: build info
        run: echo "Pantavisor - ${{ github.sha }}"

      - name: setup
        run: |
          chown -R builder:builder $RUNNER_WORKSPACE
          chown -R builder:builder /__w
          mkdir -p /shared/sstate && chown builder:builder /shared/sstate && mkdir -p /shared/dldir && chown builder:builder /shared/dldir

      - name: build
        run: su - builder -c "cd $GITHUB_WORKSPACE && kas shell ${{ inputs.configs }} -c 'devtool modify pantavisor &&
         cd workspace/sources/pantavisor && git fetch && git checkout ${{ github.sha }} && bitbake pantavisor-bsp' "