name: "PUSH: sunxi-bananapi-m2-berry-scarthgap"

on:
  push:
    paths:
      - "**"
      - ".github/configs/**"

jobs:
  build:
    env:
      configs: .github/configs/release/sunxi-bananapi-m2-berry-scarthgap.yaml:.github/configs/shared-vols.yaml
    runs-on: ["self-hosted"]
    container:
      image: ghcr.io/pantacor/kas/kas:next-v7
      volumes:
        - shared:/shared
      options: --user root

    steps:
      - name: checkout meta-pantavisor
        uses: actions/checkout@v2
        with:
          repository: pantavisor/meta-pantavisor

      - name: debug
        run: echo "Pantavisor ref - ${{ github.sha }}"

      - name: chown
        run: chown -R builder:builder $RUNNER_WORKSPACE
      - name: chowna
        run: chown -R builder:builder /__w
      - name: shared
        run: mkdir -p /shared/sstate && chown builder:builder /shared/sstate && mkdir -p /shared/dldir && chown builder:builder /shared/dldir

      - name: Build Kas
        run:
          su - builder -c "cd $GITHUB_WORKSPACE && kas shell ${{ env.configs }}  -c 'devtool modify pantavisor &&
          cd workspace/sources/pantavisor && git fetch && git checkout ${{ github.sha }} && bitbake -c compile pantavisor' "
